set -eu

export REPO_ROOT=`pwd`
export REPO_NAME=$(basename $REPO_ROOT)

export IDF_TOOLS_PATH=$REPO_ROOT/toolchain
export IDF_PATH=$IDF_TOOLS_PATH/esp-idf

export IDF_TARGET=esp32
export ESPPORT=/dev/cu.usbserial-142401

export AWS_PROFILE=sd-development

# Clone esp-idf and apply the patches if we have not done so already
if [ ! -d "$IDF_PATH" ] || [ ! -d $IDF_TOOLS_PATH ]; then
    mkdir -p $IDF_TOOLS_PATH

    echo "Cloning esp-idf.."
    cd $IDF_TOOLS_PATH
    git clone git@github.com:espressif/esp-idf.git

    echo "Updating esp-idf.."
    cd $IDF_PATH
    git checkout tags/v4.3.1
    git submodule update --init --recursive

    echo "Applying patches.."
    KVS_WEBRTC_FREERTOS_PATCH_DIR=$REPO_ROOT/patch

    echo "Applying patch for mbedtls.."
    cd $IDF_PATH/components/mbedtls/mbedtls
    git am $KVS_WEBRTC_FREERTOS_PATCH_DIR/mbedtls/*

    echo "Applying patch for esp_idf.."
    cd $IDF_PATH
    git apply $KVS_WEBRTC_FREERTOS_PATCH_DIR/esp_idf/*

    echo "Applying patch for wslay.."
    cd $REPO_ROOT/main/lib/wslay
    git am $KVS_WEBRTC_FREERTOS_PATCH_DIR/wslay/*

    echo "Applying patch for libsrtp.."
    cd $REPO_ROOT/main/lib/libsrtp
    git am ${KVS_WEBRTC_FREERTOS_PATCH_DIR}/libsrtp/*

    echo "Applying patch for usrsctp.."
    cd $REPO_ROOT/main/lib/usrsctp
    git am $KVS_WEBRTC_FREERTOS_PATCH_DIR/usrsctp/*
fi

$IDF_PATH/install.sh $IDF_TARGET
. $IDF_PATH/export.sh

# Source the user-created environment, if it exists
USER_ENV_FILE=.userenv
if [ -f $USER_ENV_FILE ]; then
    source $USER_ENV_FILE
fi

echo ""
echo "=========================================================="
echo "Environment setup is complete."
echo ""
echo "NOTE: You will see some of the /main/lib paths contain modified git submodules."
echo "    This is expected since part of the environment setup is applying patches. If you commit"
echo "    changes in the future, these submodules will not be updated, so please ignore."
echo "=========================================================="
echo ""
